::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* ::-webkit-scrollbar-track {
    background: linear-gradient(0deg, #61f9f9 , #3edede 40%, #2dbdbd 80%, #1ba7b1 90%, #02aeae);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: green;
    
  } */