.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-background {
    position: relative;
    min-width: 3.25rem; 
    height: 1rem;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s;
    cursor: pointer;
    overflow: hidden;
}

.icon {
    position: absolute;
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.sun-icon {
    left: 10%; 
}

.moon-icon {
    left: 50%; 
    opacity: 0;
}

input:checked + .toggle-background .sun-icon {
    transform: translateX(50%) scale(0.5);
    opacity: 0; 
}

input:checked + .toggle-background .moon-icon {
    transform: translateX(30%);
    opacity: 1;
}

input:not(:checked) + .toggle-background .sun-icon {
    transform: translateX(0) scale(1);
    opacity: 1; 
}

input:not(:checked) + .toggle-background .moon-icon {
    transform: translateX(-30%) scale(0.5);
    opacity: 0;
}

.settings-button {
    width: 2.5rem;
    transition: width 0.4s ease;
    overflow: hidden;
}

.settings-container:hover .settings-button,
.settings-button.expanded {
    width: 7rem;
    margin-right: 0.25rem;
}

.setting {
    transition: transform 0.4s ease;
}

.setting.rotated {
    transform: rotate(180deg);
}

.settings-text {
    opacity: 0;
    transform: translateX(-2rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.settings-text.visible {
    opacity: 1;
    transform: translateX(0);
}

.dropdown {
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}

.dropdown.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events:stroke;
}
