.settings-button {
    width: 2.5rem;
    transition: width 0.4s ease;
    overflow: hidden;
}

.settings-container:hover .settings-button,
.settings-button.expanded {
    width: 7rem;
    margin-right: 0.25rem;
}

.setting {
    transition: transform 0.4s ease;
}

.setting.rotated {
    transform: rotate(180deg);
}

.settings-text {
    opacity: 0;
    transform: translateX(-2rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.settings-text.visible {
    opacity: 1;
    transform: translateX(0);
}

.dropdown {
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}

.dropdown.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events:stroke;
}
