<div class="flex flex-row px-2 py-2 items-center bg-gray-800 rounded-b-lg">
    <div class="bg-gray-600 flex flex-row items-center rounded-lg px-2 w-full font-SiemensContent">
        <input autofocus autocomplete="off" type="text" [(ngModel)]="userInput" (keydown.enter)="sendInput()" class="p-2 w-full bg-gray-600 outline-none text-white">
        <div (click)="sendInput()">
            <lucide-icon [img]="SendHorizontalIcon" class="cursor-pointer size-7" color="#22f7e9"></lucide-icon>
        </div>
    </div>
</div>