<div class="flex flex-row px-2 py-2 items-center bg-neutral-100 dark:bg-[#1d2021] rounded-b-lg">
    <div class="flex flex-row items-center rounded-lg px-2 w-full font-SiemensContent">
        <input autofocus autocomplete="off" type="text" autofocus placeholder="Type your message here..." [(ngModel)]="userInput" (keydown.enter)="sendInput()" class="p-2 w-full bg-neutral-100 dark:bg-[#1d2021] outline-none text-black dark:text-white placeholder:text-black dark:placeholder:text-white">
        <div (click)="sendInput()">
            <lucide-icon [img]="SendHorizontalIcon" [ngClass]="{'cursor-not-allowed': !this.userInput, 'cursor-pointer': this.userInput}"  class="size-7" color="#22f7e9"></lucide-icon>
        </div>
    </div>
</div>