<div class="flex flex-col px-4 py-3 rounded-t-lg gradient  gap-3">
    <div class="flex flex-row justify-between align-middle text-center font-SiemensHeader">
        <div class="flex flex-row items-center gap-5 w-auto">
            <div class="imgContainer text-custom-color text-center font-bold flex justify-center items-center">
                BT
            </div>
            <div class="flex flex-col items-start justify-center">
                <span class="text-white text-3xl font-semibold tracking-wide">{{title}}</span>
                <span class="text-white font-semibold font-SiemensContent">Your virtual sidekick, ready for action!</span>
            </div>
        </div>
        <lucide-icon [img]="XIcon" color="#ffffff" class="cursor-pointer size-8"></lucide-icon>
    </div>
</div>